################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Pe2Api/config
/.vs/Pe2Api/DesignTimeBuild
/.vs/Pe2Api/FileContentIndex
/.vs/Pe2Api/v17/TestStore/0
/.vs/Pe2Api/v17
/.vs
/Pe2.Api/bin/Debug/net6.0
/Pe2.Api/obj
/Pe2.Api/appsettings.json
/Pe2.Application/bin/Debug/net6.0
/Pe2.Application/obj/Debug/net6.0
/Pe2.Application/obj/Release/net6.0
/Pe2.Application/obj
/Pe2.Infra/bin/Debug/net6.0
/Pe2.Infra/obj
/Pe2.Tests/bin
/Pe2.Tests/obj
/Pe2Api.Application/obj
/Pe2Api.Domain/bin/Debug/net6.0
/Pe2Api.Domain/obj
/Pe2Api.Extensions/bin/Debug/net6.0
/Pe2Api.Extensions/obj
/Pe2Api.Shared/bin/Debug/net6.0
/Pe2Api.Shared/obj
/Ps2Api.Domain/obj
/Pe2Api.Api/bin/Debug/net6.0
/Pe2Api.Api/obj
/Pe2Api.Infra/bin/Debug/net6.0
/Pe2Api.Infra/obj
/Pe2Api.Tests/bin
/Pe2Api.Tests/obj
/Pe2Api.Application/bin/Debug/net6.0
